{%extends 'base.html' %}
{% load static%}

{% block styles%}
{{block.super}}

{% endblock %}

{% block content %}
<div class="container">
  
  <div class="row">
    {% if neighbourhood %}
      <h2 style="color:whitesmoke;">Found {{ neighbourhood|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 neighbourhoods for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">
 
  {% if neighbourhood %}
    {% for neighbourhood in neighbourhoods %}
      
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-info">
    <div class="panel-heading">{{neighbourhood.name}}</div>
    <div class="panel-body">
    <p>{{neighbourhood.description}}</p>
     <p>{{neighbourhood.location}}</p>
    </div>
    <div class="panel-footer">
    <a href ="{% url 'join_hood' hood.id %}" class="btn btn-primary btn-md">Join</a>
    </div>
  </div>
</div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock%}